<!DOCTYPE html>
<html>
<head>
 <title></title>
 <meta charset="utf-8" />
</head>
<body> 
    <div class="text-center">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/114a76fa-69cb-472a-8600-19c23a2dbe28/d24avwh-c89ae918-d8a3-43a1-8bd7-d3e3fdf29676.jpg/v1/fill/w_434,h_452,q_75,strp/peter_griffin_is_epic_by_gabby10210_d24avwh-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDUyIiwicGF0aCI6IlwvZlwvMTE0YTc2ZmEtNjljYi00NzJhLTg2MDAtMTljMjNhMmRiZTI4XC9kMjRhdndoLWM4OWFlOTE4LWQ4YTMtNDNhMS04YmQ3LWQzZTNmZGYyOTY3Ni5qcGciLCJ3aWR0aCI6Ijw9NDM0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.KvKpFWym_RXh1XeuKzN9KPNJcANcDD5eYynVi5Zy6Ns" class="rounded w-50">
    </div>
        
</div>
</body>
</html>